# === DEPENDENCIES ===
**/node_modules/
.pnp/
.pnp.js

# === TEST OUTPUT ===
**/coverage/

# === BUILD OUTPUT ===
**/build/
**/dist/

# === CACHE ===
**/.cache/

# === ENV FILES ===
*.env
*.env.*.local

# === SYSTEM FILES ===
.DS_Store

# === LOG FILES ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
